<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>翡翠之都-腾冲</title>

<meta content="翡翠之都-腾冲" name="keywords" />

<meta content="翡翠之都-腾冲" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临极边第一城腾冲！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="翡翠之都-腾冲"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="about.html">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说腾冲</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">腾冲简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">腾冲文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">腾冲历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：XXX</p>

                      <p>联系人：XXX</p>

                      <p>电话：0771-xxxxxxx</p>

                      <p>QQ：9XXX95</p>

                      <p>网址：wXXX.com</p>

                      <p>邮编：530001</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 腾冲简介</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>腾冲简介</span>

                        发布人:管理员　　发布时间：2016-07-2 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp; 腾冲国土面积5845平方公里，居住着汉、回、傣、佤、傈僳、阿昌等25种民族。全县辖18个乡镇，2004年末总人口为61.6万人。
<br />

&nbsp;&nbsp;&nbsp;&nbsp; 腾冲自古就是西南边陲的重要通商口岸和边防重镇，“古代南方丝绸之路”就通过腾冲进入缅甸。历史上商贾云集、贸易繁荣，首开世界翡翠加工先河，是东南亚珠宝玉石集散地，被喻为“极边第一城”。现在，腾冲境内有国家一类口岸――猴桥，还有滇滩、自治、三岔河等16个口岸和通道。境内森林面积450多万亩，覆盖率63.4%，木材储量居云南省第二位。矿产资源丰富，品位较高，现已开发的主要有铁、锡、铅、锌等金属矿和硅藻土、硅灰石、高岭土等非金属矿。旅游资源独特，是云南旅游的新亮点。火山地热相伴而生，规模宏大，为国内罕见。还有北海湿地、和顺侨乡、云峰山、来凤山国家级森林公园和高黎贡山等一大批神奇秀丽的自然景观。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;旅游资源独特，是云南旅游的新亮点。全县风景区总面积730平方公里，有各类景点92个。火山地热相伴而生，规模宏大，国内罕见；还有以北海湿地、云峰山和高黎贡山为主体的一大批神奇秀丽的自然景观，以和顺侨乡和滇西抗战史为主体的人文景观，以傈僳族“上刀杆、下火海”为主体的民族风情等独特而丰富的旅游资源。相继获得“中国优秀旅游名县”、“一生要去的66个全国旅游大县”，以及“中国最佳文化生态旅游目的地”等荣誉，和顺成功入选“中国魅力名镇”，并被评为“全国环境优美乡镇”。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;腾冲属于南亚热带湿润季风气候，常年无冬，市区乔木覆盖，花果不绝。凡到过腾冲的人，得到最鲜明、最深刻的印象就是“绿”、“绿满腾冲”、“四季皆绿”。哪怕是北国冰封的时候，这里的大街小巷依然绿树葱葱，花开不断，更叫人称绝的是：绿中有果，绿中飘香。腾冲气候温和，适宜植物繁殖发展。如今的腾冲，可谓“半城绿树半城楼”，不仅山川奇特，文物渊古，物产丰富，且胜地遍布------这里胜境出处，登临其间，尽可享受山水之美，抒发怀古之情。

 <br />

 &nbsp;&nbsp;&nbsp;&nbsp;　文化积淀厚重，腾越文化闪烁灿烂。长期以来，腾冲在与外界交往中，多种文化相互融合，形成了具有多元文化特点的“腾越文化”。县内人文景观众多，有“在中国乡村藏书量堪称第一”的和顺图书馆，有保存比较完整的滇西抗战纪念馆—国殇墓园，有蜀身毒道遗址。腾冲有崇文尚教的传统，清末民初先后有39人东渡日本留学，涌现了云南辛亥革命首义领袖张文光、民国元老李根源、抗日县长张问德、哲学家艾思奇等一批知名人士。


	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; 2015－2016 All Rights Reserved 版权所有 XXXXXXXXXXXXXXXXXX</p>
  <p>地址：XXXXXXXXXXXXXXXXXX  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a> </p>
  
</div>



<!--footer 结束--> 


</body>

</html>

